#include "stdio.h"
#include "osqp.h"

#include "workspace.h"
#include <string.h>

int main(int argc, char **argv) {

    // Load problem
    load_workspace(&workspace);

    // Solve Problem
    osqp_solve(&workspace);

    // Print status
    printf("Status: %s\n", (&workspace)->info->status);

    return 0;
};
