{% macro fill_vec(vec, name) %}
{% for i in range(vec.size) %}
{{name}}[{{i}}] = {{vec[i]}};
{% endfor %}
{% endmacro %}



{% macro fill_mat(mat, name) %}
{{ fill_vec(mat['i'], name+'->i') -}}
{{ fill_vec(mat['p'], name+'->p') -}}
{{ fill_vec(mat['x'], name+'->x') -}}
{{name}}->m = {{mat['m']}};
{{name}}->n = {{mat['n']}};
{{name}}->nz = {{mat['nz']}};
{{name}}->nzmax = {{mat['nzmax']}};
{% endmacro %}



{% macro fill_settings(settings, name) %}
{% for key, value in settings.items() %}
{{name}}->{{key}} = {{value}};
{% endfor %}
{% endmacro %}
