{% import "macros.jinja" as macros %}

#include "types.h"
#include "private.h"
//struct c_priv{
//    csc *L;         /* lower triangular matrix in LDL factorization */
//    c_float *Dinv;  /* inverse of diag matrix in LDL (as a vector)  */
//    c_int *P;       /* permutation of KKT matrix for factorization  */
//    c_float *bp;    /* workspace memory for solves                  */
//
//
//    #if EMBEDDED != 1
//    // These are required for matrix updates
//    c_int * Pdiag_idx, Pdiag_n;  // index and number of diagonal elements in P
//    csc * KKT;                   // Permuted KKT matrix in sparse form (used to //update P and A matrices)
//    c_int * PtoKKT, * AtoKKT;    // Index of elements from P and A to KKT matrix
//    // LDL Numeric workspace
//    c_int *Lnz;                  // Number of nonzeros in each column of L
//    c_float *Y;                  // LDL Numeric workspace
//    c_int *Pattern, *Flag;       // LDL Numeric workspace
//    c_int *Parent;               // LDL numeric workspace
//    #endif
//
//};

typedef struct c_priv Priv;

#define OSQP_NDIM ({{ data['n'] }})
#define OSQP_MDIM ({{ data['m'] }})
#define OSQP_A_NNZ ({{ data['A']['nzmax'] }})
#define OSQP_P_NNZ ({{ data['P']['nzmax'] }})
#define OSQP_L_NNZ ({{ priv['L']['nzmax'] }})
#define OSQP_KKT_NDIM ({{ data['n'] + data['m'] }})



// Define data structure
OSQPData data;

csc Pdata;
c_int Pdata_i[OSQP_P_NNZ];
c_int Pdata_p[OSQP_NDIM + 1];
c_float Pdata_x[OSQP_P_NNZ];


csc Adata;
c_int Adata_i[OSQP_A_NNZ];
c_int Adata_p[OSQP_NDIM + 1];
c_float Adata_x[OSQP_A_NNZ];


c_float qdata[OSQP_NDIM];
c_float ldata[OSQP_MDIM];
c_float udata[OSQP_MDIM];




// Define settings structure
OSQPSettings settings;


// Define scaling
OSQPScaling scaling;

c_float Dscaling[OSQP_NDIM];
c_float Dinvscaling[OSQP_NDIM];
c_float Escaling[OSQP_MDIM];
c_float Einvscaling[OSQP_MDIM];


// Define private structure
Priv priv;

csc priv_L;
c_int priv_L_i[OSQP_L_NNZ];
c_int priv_L_p[OSQP_KKT_NDIM + 1];
c_float priv_L_x[OSQP_L_NNZ];


c_float priv_Dinv[OSQP_KKT_NDIM];
c_int priv_P[OSQP_KKT_NDIM];
c_float priv_bp[OSQP_KKT_NDIM];


// TODO: Add embedded_flag == 2 case!
{% if embedded_flag != 1 %}
{% endif %}



// Define solution
OSQPSolution solution;
c_float xsolution[OSQP_NDIM];
c_float ysolution[OSQP_MDIM];


// Define info
OSQPInfo info;



// Define workspace
OSQPWorkspace workspace;

c_float work_x[OSQP_NDIM];
c_float work_y[OSQP_MDIM];
c_float work_z[OSQP_MDIM];
c_float work_xz_tilde[OSQP_KKT_NDIM];

c_float work_x_prev[OSQP_NDIM];
c_float work_z_prev[OSQP_MDIM];

c_float work_delta_y[OSQP_MDIM];
c_float work_Atdelta_y[OSQP_NDIM];

c_float work_delta_x[OSQP_NDIM];
c_float work_Pdelta_x[OSQP_NDIM];
c_float work_Adelta_x[OSQP_MDIM];

c_float work_P_x[OSQP_NDIM];
c_float work_A_x[OSQP_MDIM];

c_float work_D_temp[OSQP_NDIM];

c_float work_E_temp[OSQP_MDIM];




// Link structures in workspace
void link_structures(){

    Pdata.i = Pdata_i;
    Pdata.p = Pdata_p;
    Pdata.x = Pdata_x;

    Adata.i = Adata_i;
    Adata.p = Adata_p;
    Adata.x = Adata_x;

    data.P = &Pdata;
    data.q = qdata;
    data.A = &Adata;
    data.u = udata;
    data.l = ldata;


    scaling.D = Dscaling;
    scaling.Dinv = Dinvscaling;
    scaling.E = Escaling;
    scaling.Einv = Einvscaling;

    priv_L.i = priv_L_i;
    priv_L.p = priv_L_p;
    priv_L.x = priv_L_x;

    priv.L = &priv_L;
    priv.Dinv = priv_Dinv;
    priv.P = priv_P;
    priv.bp = priv_bp;


    solution.x = xsolution;
    solution.y = ysolution;


    workspace.x = work_x;
    workspace.y = work_y;
    workspace.z = work_z;
    workspace.xz_tilde = work_xz_tilde;
    workspace.x_prev = work_x_prev;
    workspace.z_prev = work_z_prev;
    workspace.delta_y = work_delta_y;
    workspace.Atdelta_y = work_Atdelta_y;
    workspace.delta_x = work_delta_x;
    workspace.Pdelta_x = work_Pdelta_x;
    workspace.Adelta_x = work_Adelta_x;
    workspace.P_x = work_P_x;
    workspace.A_x = work_A_x;
    workspace.D_temp = work_D_temp;
    workspace.E_temp = work_E_temp;

    workspace.data = &data;
    workspace.priv = &priv;
    workspace.settings = &settings;
    workspace.scaling = &scaling;
    workspace.solution = &solution;
    workspace.info = &info;


}

// Populate workspace
void load_workspace(OSQPWorkspace * work){

// Link structures
link_structures();

/* Fill data */

// Data dimensions
work->data->n = {{data['n']}};
work->data->m = {{data['m']}};

// Fill P
{{ macros.fill_mat(data['P'], 'work->data->P') }}

// Fill q
{{ macros.fill_vec(data['q'], 'work->data->q') }}

// Fill A
{{ macros.fill_mat(data['A'], 'work->data->A') }}

// Fill l
{{ macros.fill_vec(data['q'], 'work->data->l') }}

// Fill u
{{ macros.fill_vec(data['q'], 'work->data->u') }}


/* Fill settings */
{{ macros.fill_settings(settings, 'work->settings') }}


/* Fill scaling */
{{ macros.fill_vec(scaling['D'], 'work->scaling->D') -}}
{{ macros.fill_vec(scaling['Dinv'], 'work->scaling->Dinv') -}}
{{ macros.fill_vec(scaling['E'], 'work->scaling->E') -}}
{{ macros.fill_vec(scaling['Einv'], 'work->scaling->Einv')}}

/* Fill private structure */
{{ macros.fill_vec(priv['P'], 'work->priv->P') }}
{{ macros.fill_vec(priv['Dinv'], 'work->priv->Dinv') -}}
{{ macros.fill_mat(priv['L'], 'work->priv->L') -}}

/* Set info */
work->info->status_val = OSQP_UNSOLVED;


}
