{% macro fill_vec(vec, name) %}
{% for i in range(vec.size) %}
{{name}}[{{i}}] = {{vec[i]}};
{% endfor %}
{% endmacro %}



{% macro fill_vec_float(vec, name) %}
{% for i in range(vec.size) %}
{{name}}[{{i}}] = (c_float){{vec[i]}};
{% endfor %}
{% endmacro %}



{% macro fill_mat(mat, name) %}
{{ fill_vec(mat['i'], name+'->i') -}}
{{ fill_vec(mat['p'], name+'->p') -}}
{{ fill_vec_float(mat['x'], name+'->x') -}}
{{name}}->m = {{mat['m']}};
{{name}}->n = {{mat['n']}};
{{name}}->nz = {{mat['nz']}};
{{name}}->nzmax = {{mat['nzmax']}};
{% endmacro %}



{% macro fill_settings(settings, name) %}
{% for key, value in settings.items() %}
{% if key != 'scaling_norm' and key != 'scaling_iter' %}
{{name}}->{{key}} = {{value}};
{% endif %}
{% endfor %}
{% endmacro %}
